<!-- <app-auto-complete
    [options]="descriptionOptions$ | async"
    name="description"
    [invalid]="description.dirty && description.invalid"
    formControlName="description">
</app-auto-complete> -->

<app-drag-in-drop></app-drag-in-drop>

<app-toggle [check]="toggle.check" [text]="toggle.text" (toggleResult)="exibe = $event"></app-toggle>
<span>Resultado do toggle - {{exibe}}</span>

<ap-search 
    (onTyping)="filter = $event" [value]="filter">
</ap-search>

<ap-photos 
    [photos]="photos | filterByDescription: filter">
</ap-photos>

<ap-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</ap-load-button>